{% extends 'mailclient/base.html' %}


{% block body %}
<div id='emails-add'></div>

    <div id='compose-view'>
        <h3 class='text-center mb-4'>Add Email</h3>
        <div id='compose-message'></div>
        <form action='{% url "add_mailbox" %}' method='post'>
            {% csrf_token %}
            {{form.as_p}}
            {% if message %}
                <p class='text-danger text-center'>{{ message }}</p>
            {% endif %}
            <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}