{% extends 'mailclient/base.html'%}
{% block content %}

<ul class="list-articles" style="background-color:#f5f5f5; margin-left:5em; padding-top:10px; padding-bottom:10px; padding-right:10px; border-radius: 10px">
  {% if message %}
    {{ message }}
  {% else %}
    {% for e in emails %}
    <li>
      <h2 >{{e.subject}}</h2>
      <div class="clear"></div>
      <p class="link-read-post"><a href="{{ e.get_absolute_url }}">Read mail</a></p>
    </li>
    {% endfor %}
  {% endif %}
</ul>

{% endblock %}